header {
    height: 20%;
}
.header {
    position:fixed;
    width: 100%;
}
body {
    font-family: 'Kanit', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0%;
}
#banner {
    display: flex;
    background-color: #0A91AB;
    margin:0%;
    height:150px
}
#logo {
    position:relative;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    height: 200px;
    width: 200px;
}

#menu {
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFC045;
    height:60px;
    width:100%;
}
#menutext {
    position:sticky;
    display: flex;
    flex-direction: row;
    padding-left: 0.75%;
    padding-right: 0.75%;
    cursor: pointer;
}

#menutext h3:hover {
    color:#0A91AB
}

#linea {
    display: flex;
    background-color: black;
    height: 2px;
    width: 100%;
}
#tituloVjuegos {
    display: flex;
    color: #0A91AB;
    padding-left: 1%;
    padding-top: 1%
}
.containerVj {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-left:1.5%;
    margin-right:1.5%;
}
.videojuegos {
    display:inline-block;
    text-align: left;
    border-style: dashed;
    border-radius: 8.0px;
    border-color: #FFC045;
    border-width: 3;
    flex-direction: row;
    width: 550px;
    height: 480px;
    margin-left:0%;
    margin-right:0%;
    margin-bottom: 5%;
}

.videojuegos:hover {
    text-align: left;
    border-style: outset;
    border-radius: 8.0px;
    border-color: #ffe873;
    border-width: 3;
}
#fotosJuegos {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 300px;
    width: 550px;
    justify-content: center;
}
#tituloVJuego {
    color: #FFC045;
    text-align: left;
    margin-left:3%;
}
#textoVJuegos {
    text-align:left;
    margin-left:2.5%;
    margin-right:2,5%;
}

.masInfo {
    text-align: center;
    background-color: #FFC045;
    border-style: groove;
    border-width: 0;
    border-radius: 5px;
    margin-left:85.5%;
    margin-bottom: 5%;
    cursor:pointer;
}

.masInfo:hover {
    background-color: #f8c662;
    border-color: black;
    border-width: 1px;
    font-weight: bold;
}

.asidePlusNewsContainer {
    align-items: flex-start;
    display:flex;
    flex-wrap: nowrap;
    justify-content:flex-start;
}
#newsTitle h2 {
    flex:2;
    color: #0A91AB;
    font-weight: bold;
    text-align: center;
}

.newsContainer {
    flex: 2;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: stretch;
}

.news {
    text-align: left;
    border-style:groove;
    border-radius: 8.0px;
    border-color:#0A91AB;
    border-width: 3;
    flex-direction: row;
    width: 500px;
    height: 480px;
    margin-left:0%;
    margin-right:0%;
    margin-bottom: 5%;
    flex-wrap: nowrap;
}

#fecha {
    color:black;
    text-align: left;
    font-weight: bold;
    margin:0.5%;
}

#orangeLine {
    background-color: #FFC045;
    height: 5px;
    width: 100%;
}

#newsTitle {
    color: #FFC045;
    text-align: center;
    margin-top:1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0%;
}

#textoNews {
    color:black;
    font-weight: bold;
    text-align: center;
    margin:1%;
    margin-bottom:3%;
}
.imagePlusButton {
}
#fotosNews {
    width:500px;
}

.leerMas {
    text-align: center;
    background-color: #FFC045;
    border-style: groove;
    border-width: 0;
    border-radius: 5px;
    margin-bottom: 55%;
    margin-left:85.5%;
    bottom:0;
    cursor:pointer;
}

.leerMas:hover {
    background-color: #f8c662;
    border-color: black;
    border-width: 1px;
    font-weight: bold;
}

.trucosContainer {
    flex:1;
    align-self: stretch;
    display: block;
    color: black;
    background-color: #e4f6f9;
    border-style: dotted;
    border-radius: 15px;
    border-width: 5px;
    width: 430px;
    height: 1080px;
    margin: 1.5%;
    font-weight: bold;
    text-align: center;
}

.trucosTitle {
    text-align: center;
    margin:0%;
    color: #0A91AB;
}
#juegoTruco {
    font-weight: bold;
    color:#FFC045;
}
#grayLine {
    justify-content: center;
    background-color: rgb(255, 255, 255);
    margin:0%;
    height:1px;
    width:95%;
}
.trucos {
    color:black
}
footer {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #8A8070;
}

#footer-left,
#footer-center,
#footer-right {
    display: flex;
    width:100%;
}

#footer-left {
    justify-content: flex-start;
    margin-left:1%;
    flex:1;
    padding-bottom: 5%;
}

#footer-left h5 {
    margin-right: 25px;
    cursor: pointer;
}
#lastmargin {
    margin-right: 0
}
#footer-center {
    justify-content:flex-end;
    margin:0%;
    align-self:flex-end;
    flex:4;
}
#footer-right {
    justify-content: flex-end;
    margin-right:1%;
    text-align: right;
    flex:5;
    padding-bottom: 5%;
}
#footer-right h5 {
    cursor: pointer;
}