@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Maven+Pro:wght@400;700&display=swap&#39');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&family=Maven+Pro:wght@400;700&display=swap&#39');
/* FOOTER */

footer {
    width: 100%;
    display: flex;
    height: 100px;
    background-color: #8A8070;
}

#footer-left,
#footer-center,
#footer-right {
    display: flex;
}

#footer-left {
    margin-left:1%;
    flex:1;
    padding-bottom: 5%;
}

#footer-left h5 {
    margin-right: 25px;
    cursor: pointer;
}
#lastmargin {
    margin-right: 0px;
}
#footer-center {
    margin-left:-25px;
    width:100%;
    justify-content:flex-end;
    align-self:flex-end;
    flex:4;
    margin-bottom:0%
}
#footer-right {
    justify-content: flex-end;
    margin-right:1%;
    text-align: right;
    flex:5;
    padding-bottom: 5%;
}
#footer-right h5 {
    cursor: pointer;
    justify-content: center;
}



/* BODY */
body {
    width: 100%;
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
    margin: 0%;
}

/* BANNER AZUL */

#banner {
    background-color: #0A91AB;
}

/* SUS LOGO */

#logo {
    display: block;
    margin: auto;
}

/* NAVIGATIONAL MENU Naranja*/

nav {
    position: sticky;
    display: flex;
    justify-content: center;
    background-color: #FFC045;
    top:0;
    height:7.0%;
    width:100%;
}

nav a {
    text-decoration: none;
    color:black;
}

nav div {
    display: flex;
    flex-direction: row;
    padding-left: 0.75%;
    padding-right: 0.75%;
}

nav div h3:hover {
    color:#0A91AB;
    cursor: pointer;
}

#linea {
    position:sticky;
    top:7%;
    background-color: black;
    height: 3px;
    margin: 0%;
    border-width: 0px;
}