@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Maven+Pro:wght@400;700&display=swap&#39');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&family=Maven+Pro:wght@400;700&display=swap&#39');

/* BODY */
body {
    width:100%;
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
    margin: 0%;
}

/* BANNER AZUL */

#banner {
    background-color: #0A91AB;
}

/* SUS LOGO */

#logo {
    display: block;
    margin: auto;
}

/* NAVIGATIONAL MENU Naranja*/

nav {
    border-bottom:3px solid black;
    z-index: 100;
    position: sticky;
    display: flex;
    justify-content: center;
    background-color: #FFC045;
    top:0;
    height:7.0%;
    width:100%;
}

nav a {
    text-decoration: none;
    color:black;
}

nav div {
    display: flex;
    flex-direction: row;
    padding-left: 0.75%;
    padding-right: 0.75%;
}

nav div h3:hover {
    color:#0A91AB;
    cursor: pointer;
}

/* MAIN */

body {
    background-color: #8d8b8820;
}

main {
    margin:25%;
    margin-top:0%;
    margin-bottom:2.5%;
}

/* TITULO DE LA PAGINA */

#listado_titulo {
    text-align: center;
    color:#0A91AB
}

.linea_gris {
    border-width:2px;
    width:100%;
    border-color:#FFC045
}




/* LISTA DE JUEGOS */

article {
    margin:1%;
}

.texto_mas_portada_container {
    display: flex;
    justify-content: row;
}

.texto_mas_portada_container img {
    cursor:pointer;
}

.texto {
    text-align:start;
    margin-right:2.5%;
}

.titulo_juego {
    margin-top:0.5%;
    text-align: left;
}

.texto div a {
    text-decoration: none;
    color:black;
}

.texto div h2:hover {
    text-decoration:underline;
    text-decoration-color: #FFC045;
    cursor:pointer;
}

.info_rapida {
    margin-top:0.5%;
    display:flex;
    flex-direction: row;
    margin-bottom:0.5%;
}

.plataforma {
    border-width: 3px;
    border-style: groove;
    border-radius: 8px;
    border-color: #0A91AB;
    background-color: #FFC045;
    padding:0.332%;
    padding-bottom:0%;
    padding-top:0%;
    margin-right:0.7%;
}

.genero {
    align-self: center;
    font-size: 22px;
    color:#8A8070
}

.portada {
    align-self: center;
    margin-top:3%;
    margin-bottom:3%;
}

.portada img {
    transition: all 0.5s ease-in-out;
    border-radius:8px;
    width:140px;
    height:210px;
}

.portada img:hover {
    transform: scale(1.2);
}

/* BOTONES DE PAGINACION */

#paginacion {
    display:flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    margin-top:2.5%;
}

#paginacion a {
    border-width:1px;
    border-style:groove;
    border-color:black;
    background-color:#ffffff;
    padding:1.25%;
    color:#0A91AB;
    align-self: center;
}

#paginacion #anterior {
    color:gray;
    background-color:#f5f7f9;
    font-size: 12px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#paginacion #actual {
    color:beige;
    background-color: #4c8dc5;
}

#paginacion #final {
    font-size: 12px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

#paginacion a:hover {
    background-color:aliceblue;
    cursor:pointer;
}


/* FOOTER */


footer {
    width: 100%;
    display: flex;
    height: 100px;
    background-color: #8A8070;
}

#footer-left,
#footer-center,
#footer-right {
    display: flex;
}

#footer-left {
    margin-left:1%;
    flex:1;
    padding-bottom: 5%;
}

#footer-left p {
    margin-right: 25px;
    cursor: pointer;
}
#lastmargin {
    margin-right: 0px;
}
#footer-center {
    margin-left:-25px;
    width:100%;
    justify-content:flex-end;
    align-self:flex-end;
    flex:4;
    margin-bottom:0%
}
#footer-right {
    justify-content: flex-end;
    margin-right:1%;
    text-align: right;
    flex:5;
    padding-bottom: 5%;
}
#footer-right h5 {
    cursor: pointer;
}